/**
 * Player panel
 */
.player-panel {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  cursor: default;
}
/* Width is smaller than iPad portrait */
@media only screen and (max-width: 768px) {
  .player-panel {
    font-size: 16px;
  }
}


/**
* Player title
*/
.player-panel .player-title {
  padding: 0 1.25em;
  border-radius: 0.6em 0.6em 0 0; 
  height: 5em;
  line-height: 5em;
  background-color: #343646;
  font-size: 24px;
}

/**
 * Content container
 */
.player-panel .player-content {
  display: flex;
  height: calc(100% - 13em);
}
@media only screen and (max-width: 768px) {
  .player-panel .player-content {
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

/**
 * Track list
 */
.player-panel .track-list {
  width: 20em;
  height: 100%;
  background-color: #282A36;
  overflow-y: auto;
}
.player-panel .track-list::-webkit-scrollbar {
  display: none;
}
.player-panel .track-row {
  padding: 0.5em 1.5em 0;
  height: 2.5em;
  line-height: 2.5em;
  border-bottom: 1px solid #333;
  color: #fff;
  cursor: pointer;
}
.player-panel .track-row.selected {
  color: #999;
}
.player-panel .track-row:hover {
  color: #333;
  background-color: #999;
}
@media only screen and (max-width: 768px) {
  .player-panel .track-list {
    width: unset;
  }
}

/**
 * Track details
 */
.player-panel .track-details {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20em);
  height: 100%;
  border-left: 1px solid #999;
  background-color: #282A36;
}
.player-panel .track-details .meta {
  margin: 0 1.25em;
  padding: 0.625em 0;
  border-bottom: 1px solid #999;
}
.player-panel .track-details .meta .title {
  display: inline-block;
  height: 2.5em;
  line-height: 2.5em;
  font-size: 1.5em;
  color: #fff;
}
.player-panel .track-details .meta .artist,
.player-panel .track-details .meta .album {
  display: inline-block;
  color: #999;
}
.player-panel .track-details .subtitle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.25em;
  color: #999;
  overflow-y: auto;
}
.player-panel .track-details .subtitle::-webkit-scrollbar {
  display: none;
}
.player-panel .track-details .subtitle .subtitle-row {
  padding: 0.5em 0;
  font-size: 1.5em;
  text-align: center;
}
.player-panel .subtitle-row.singing {
  font-weight: 700;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .player-panel .track-details {
    position: absolute;
    left: 100%;
    top: 0;
  
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #282A36;
  
    transition: left .2s;
  }
  .player-panel .track-details.opened {
    left: 0;
  }
  .player-panel .track-details .subtitle .subtitle-row {
    white-space: nowrap;
    padding: 0.25em 0;
    font-size: 1em;
    overflow: hidden;
  }
}
@media only screen and (max-height: 479px) and (orientation: landscape) {
  .player-panel .track-details .subtitle .subtitle-row {
    padding: 0.5em 0;
    font-size: 1.5em;
  }
}













/**
 * Bottom control bar
 */
.player-panel .player-control {
  width: 100%;
  height: 8em;
  border-radius: 0 0 0.625em 0.625em;
  background-color: #343646;
}

/**
 * Buttons
 */
.player-panel .control-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.625em 0.625em 1.25em;
}

/**
 * Loop
 */
.single-loop {
  width: 1.8em;
  height: 1.8em;
}
.single-loop > svg {
  width: 100%;
  height: 100%;
  fill: #fff;
  cursor: pointer;
}
.single-loop:hover > svg,
.single-loop.selected > svg {
  fill: #999;
}

/**
 * Play circle
 */
.player-panel .play-circle-button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 2.3em;
  height: 2.3em;
  border-radius: 50%;
  background-color: #EC6B66; /* fixed color */
  cursor: pointer;
}
.player-panel .play-circle-button .hide {
  opacity: 0;
  visibility: hidden;
}

.player-panel .play {
  position: absolute;
  margin-left: 0.15em;
  transition: all .2s;
}
.player-panel .play:hover {
  border-left-color: #333;
}

.player-panel .pause {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  transition: all .2s;
}
.player-panel .pause > span {
  margin: 0 0.15em;
  width: 0.25em;
  height: 1em;
}
.player-panel .pause:hover > span {
  background-color: #333;
}

.player-panel .control-buttons .pre,
.player-panel .control-buttons .next {
  display: flex;
  cursor: pointer;
}
.player-panel .control-buttons .pre:hover .column,
.player-panel .control-buttons .next:hover .column {
  background-color: #999;
}
.player-panel .control-buttons .pre:hover .left-arrow {
  border-right-color: #999;
}
.player-panel .control-buttons .next:hover .right-arrow {
  border-left-color: #999;
}

/* Details button */
.player-panel .control-buttons .show-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1.8em;
  height: 1.8em;
  cursor: pointer;
}
.player-panel .control-buttons .show-details > p {
  margin: 0;
  padding: 0;
  width: 0.25em;
  height: 0.25em;
  border-radius: 50%;
  background-color: #fff;
}
.player-panel .control-buttons .show-details:hover > p,
.player-panel .control-buttons .show-details.selected > p {
  background-color: #999;
}

/**
 * Progress bar
 */
 .player-panel .progress {
  display: flex;
  align-items: center;
  padding: 1.25em 0 0.625em;
}
.player-panel .progress input.progress-bar {
  flex-grow: 1;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}
.player-panel .progress .progress-bar:focus {
  outline: none;
}

.player-panel .progress .progress-bar::-webkit-slider-runnable-track {
  display: flex;
  align-items: center;
  height: 0.4em;
  background-color: #999; /* fixed color */
  border-radius: 0.2em;
  cursor: pointer;
}
.player-panel .progress .progress-bar::-webkit-slider-thumb {
  appearance: none;
  position: relative;
  top: -0.3em;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.player-panel .progress .progress-bar::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0.25em 0 #fff;
}

.player-panel .progress .time {
  display: flex;
  justify-content: flex-end;
  margin: 0 0.625em;
  width: 2.6em;
  text-align: center;
}
.player-panel .progress .duration {
  justify-content: flex-start;
}
/**
 * Firefox
 */
.player-panel .progress .progress-bar::-moz-range-track {
  display: flex;
  align-items: center;
  height: 6px;
  background-color: #999; /* fixed color */
  border-radius: 0.15em;
  cursor: pointer;
}
.player-panel .progress .progress-bar::-moz-range-thumb {
  appearance: none;
  height: 0.75em;
  width: 0.75em;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}